/* Footer Styles */
footer.large.callout.secondary {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 30px 25px;
    background-color: #f0f0f0;
    color: black;
}

section.topFooter.grid-container.grid-x, section.bottomFooter.grid-container.grid-x {
    max-width: 1200px;
}

section.topFooter.grid-container.grid-x {
    padding: 10px 15px 15px;
}

nav.large-2.cell.adobePortfolio {
    display: none;
}

a.adobePortfolio, a.adobePortfolioSmall {
    padding: 0 25px 0 0;
    color: black;
    font-size: 16px;
    font-weight: 550;
}

a.educationPortfolio, a.professionalPortfolio, a.studioPortfolio {
    padding: 0 25px;
    color: black;
    font-size: 14px;
}

a.resumeLink {
    padding: 0 10px 0 0;
    color: black;
    font-size: 16px;
    font-weight: 550;
    float: right;
}

a.adobePortfolio:hover, a.educationPortfolio:hover, a.professionalPortfolio:hover, a.studioPortfolio:hover, a.resumeLink:hover {
    color: #356b8f;
}

img.footer-logo {
    max-width: 275px;
}

figcaption.copyright {
    font-size: 14px;
    margin: 0;
}

figure.large-4.cell.copyright {
    font-size: 18px;
    align-content: left;
}

nav.large-8.cell.logo-links {
    font-size: 18px;
    text-align: right;
    padding: 10px 0;
}

nav.large-8.cell.logo-links.hidden-large {
    display: none;
}

.fab.fa-linkedin-in, .fab.fa-github, .fab.fa-instagram {
    font-size: 25px;
    vertical-align: middle;
    margin: 5px 10px;
    color: black;
}

.fab.fa-linkedin-in:hover, .fab.fa-github:hover, .fab.fa-instagram:hover {
    color: #356b8f;
}

@media only screen and (max-width: 1023px) {
    footer.large.callout.secondary {
        text-align: center;
    }

    figure.large-4.cell.copyright {
        align-content: center;
        font-size: 16px;
    }

    nav.large-8.cell.logo-links.hidden-large {
        display: block;
        text-align: center;
        margin: 0 0 15px;
        padding: 0;
    }

    nav.large-2.cell.adobePortfolio {
        display: inline-block;
    }

    a.adobePortfolio {
        display: none;
    }

    a.adobePortfolioSmall {
        padding: 0;
    }
    
    a.educationPortfolio, a.professionalPortfolio, a.studioPortfolio {
        padding: 0 5px;
    }

    nav.large-2.cell.resume {
        padding-top: 15px;
    }

    a.resumeLink {
        float: none;
        padding: 0;
    }

    nav.large-8.cell.logo-links.hidden-medium {
        display: none;
    }

    .fab.fa-linkedin-in, .fab.fa-github, .fab.fa-instagram {
        text-align: center;
    }

    img.footer-logo {
        max-width: 240px;
    }
}

@media only screen and (max-width: 312px) {
    img.footer-logo {
        max-width: 200px;
    }
}