/* Navbar styles */
.top-bar, .top-bar ul {
    background: transparent;
    z-index: 100;
}

/* Setting style for logo in navbar */
header#mainNavigation.top-bar {
    height: 55px;
    max-height: 75px;
    border-bottom: 2px;
    position: fixed;
    top: 0;
    background: rgb(25, 25, 25, .70);
    width: 100%;
}

img#logo {
    max-width: 300px;
    margin: 5px;
}

img#logo:hover, img#logo:active {
    opacity: .75;
}

/* Setting styles navbar menu */
nav.title-bar, nav.top-bar-right {
    background: transparent;
}

.fas.fa-ellipsis-v {
    font-size: 22px;
    color: rgb(225, 225, 225);
}

a.work-dropdown, a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(225, 225, 225);
}

li a:focus{
    color: #71b2e4;
}

a.work-dropdown:hover, li.is-dropdown-submenu-parent.opens-left:hover, li.is-dropdown-submenu-parent.opens-left.is-active, a:hover {
    color: #71b2e4;
}

li.is-dropdown-submenu-parent.opens-left.is-active a.work-dropdown {
    color: #71b2e4;
}

.dropdown.menu.medium-horizontal li.is-dropdown-submenu-parent a::after {
    border-color: rgb(225, 225, 225, .6) transparent transparent;
    right: 7px;
}

ul.nested.vertical.menu.submenu.is-dropdown-submenu.first-sub {
    background: rgba(25, 25, 25, 0.7);
    margin: 9.5px;
    border: 0;
    border-radius: 0px 0px 10px 10px;
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
    display: none;
}

li.is-submenu-item.is-dropdown-submenu-item a {
    color: rgb(225, 225, 225);
    font-size: 14px;
    float: right;
}

li.is-submenu-item.is-dropdown-submenu-item a:hover {
    color: #71b2e4;
}

.vertical.medium-horizontal.menu.accordion-menu {
    border-radius: 0px 0px 10px 10px;
}

/* Media query for responsive navbar */
@media only screen and (max-width: 750px) {
    .top-bar .top-bar-left {
        max-width: 300px;
    }
    img#logo {
        max-width: 225px;
    }
}

@media only screen and (max-width: 639px) {
    .top-bar, .top-bar ul {
        background: rgb(25, 25, 25, .7);
    }
    .top-bar-right {
        margin-top: 7.5px;
    }
    ul.vertical.medium-horizontal.menu.accordion-menu {
        width: 150px;
        float: right;
    }
    ul.dropdown.menu {
        float: right;;
    }
    a.dropdown-menu-item {
        float: right;
    }
    ul.nested.vertical.menu.submenu.is-accordion-submenu.is-active {
        background: transparent;
        float: right;
        margin: 5px 0;
    }
    li.is-submenu-item.is-accordion-submenu-item a {
        font-size: 12px;
        float: right;
    }
}

@media only screen and (max-width: 350px) {
    .top-bar .top-bar-left {
        max-width: 250px;
    }
}

@media only screen and (max-width: 350px) {
    .top-bar .top-bar-left {
        max-width: 225px;
    }
}